{% extends 'index.html' %}
{% block content %}

<h1>Регистрация на сайте</h1>
<form action="{% url 'signup' %}" method="post">
    {% csrf_token %}
    <p>{{ form.username.label }} {{ form.username }} {{ form.username.error }}</p>
    <p>{{ form.email.label }} {{ form.email }} {{ form.email.error }}</p>
    <p>{{ form.password.label }} {{ form.password }} {{ form.password.error }}</p>
    <p>Пароль еще раз<input type="password" name="password2" maxlength="128" required=""> </p>
    <p><input type="submit" value="Отправить"></p>
</form>
{% endblock %}